lib/
bin/
include/
.Python/

*.pyc
*.pyo
*.swp
*.class
*.orig
*~
.hypothesis/

_pytest/_version.py
.eggs/

doc/*/_build
build/
dist/
*.egg-info
issue/
env/
.env/
3rdparty/
.tox
.cache
.pytest_cache
.coverage
.ropeproject
.idea
.hypothesis
